<%- content_for(:title) do %>
Thank you for applying to Devschool, the premiere online web development school!
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_apply.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
	<h1>
	  <div class="top">You have taken your first step</div>
	  <div class="middle">in a much bigger world my friend</div>
	  <div class="bottom">and are a little closer to your goal of making a great living and improving your life!</div>
	</h1>

      </div>
    </div>
  </div>
<%- end %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>We will examine your application shortly</h2>
        <h3>If we like what you said about your motivations, we will email you and schedule an interview!</h3>
        <p>You can read the FAQ below to understand more about this process and so you know what to expect.</p>
      </div>
    </div>
  </div>
<%= render 'squeeze_open_group' %>
  <div class="faq-folder">
    <div class="container">
      <div class="faq-content">
	<div class="row">
	  <div class="col-sm-10 col-sm-offset-1">
	    <div class="faq">

	      <div class="faq-heading text-center">
		<h2>ENROLLMENT FAQ</h2>
	      </div>

	      <%= render partial: 'faq_item', locals: {
		question: "How does the application process work?",
		answer: <<-EOS
You start by filling out the form <a href="#apply-now">above this FAQ</a>
and make sure you fill out the text-area with something that will make you stand
out. We would rather have more to read about your then less!
		EOS
	      }%>

	    <%= render partial: 'faq_item', locals: {
	      question: "After I submit my application what happens?",
	      answer: <<-EOS
We review your answers and determine if you sound like someone we would like
to talk to. If you answered with some detail and expressed a sincere desire to learn
you at least deserve a phone call, so that is the next step based on your answers.
	      EOS
	    }%>

	  <%= render partial: 'faq_item', locals: {
	    question: "How will I know when my interview is?",
	    answer: <<-EOS
You will receive an email with a link to your Instructor's Calendar and
a request to pick a time that suits you for a 30 minute discussion. Email us back
with your suggestion and we will take it from there.
	    EOS
	  }%>

	<%= render partial: 'faq_item', locals: {
	  question: "After I speak with my future Instructor what happens?",
	  answer: <<-EOS
We next will have you schedule 20 minutes to chat with a student currently
enrolled in the program, so you can get a perspective from someone much like
yourself with the same goals.
	  EOS
	}%>

      <%= render partial: 'faq_item', locals: {
	question: "OK, so I talked to a current student and I am still a go!",
	answer: <<-EOS
At this point there is nothing you have to wait for. Tell us you are dying
to get started and we will send you a link to handle your enrollment payment and
you can start immediately or when it is convenient for you. There are no cohorts 
or artificial separations here.
	EOS
      }%>
	  </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
