<%- content_for(:title) do %>
Apply to Devschool's online coding bootcamp!
<%- end %>

<%- content_for(:description) do %>
Don't just join a coding bootcamp, get in front of prospective employers with our NGO internship program! We get you your first job!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/coding-bootcamp/apply
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_apply.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
	<h1>
	  <div class="top">Apply today and begin your</div>
	  <div class="middle">grand adventure to a better future</div>
	  <div class="bottom">Unlike other programs, we guide you all the way into a jr. web developer position</div>
	</h1>

	<p><a href="#apply-now" class="btn btn-banner">APPLY BELOW</a></p>
      </div>
    </div>
  </div>
<%- end %>

<div class="holder">
  <center class="well">
    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">&quot;You don&#39;t learn to walk by following rules You <a href="https://twitter.com/hashtag/LearnByDoing?src=hash">#LearnByDoing</a> and by falling over&quot; - <a href="https://twitter.com/richardbranson">@richardbranson</a> <a href="https://twitter.com/hashtag/WeAgree?src=hash">#WeAgree</a>! <a href="https://t.co/sCTeEQZewI">pic.twitter.com/sCTeEQZewI</a></p>&mdash; Devschool (@devschoolrocks) <a href="https://twitter.com/devschoolrocks/status/686291994650386433">January 10, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>

  <a name="apply-now"></a>
  <div class="form-holder">
    <div class="container">
      <%= render 'apply_form' %>
    </div>
  </div>

  <div class="faq-folder">
    <div class="container">
      <div class="faq-content">
	<div class="row">
	  <div class="col-sm-10 col-sm-offset-1">
	    <div class="faq">

	      <div class="faq-heading text-center">
		<h2>ENROLLMENT FAQ</h2>
	      </div>

	      <%= render partial: 'faq_item', locals: {
		question: "How does the application process work?",
		answer: <<-EOS
You start by filling out the form <a href="#apply-now">above this FAQ</a>
and make sure you fill out the text-area with something that will make you stand
out. We would rather have more to read about your then less!
		EOS
	      }%>

	    <%= render partial: 'faq_item', locals: {
	      question: "After I submit my application what happens?",
	      answer: <<-EOS
We review your answers and determine if you sound like someone we would like
to talk to. If you answered with some detail and expressed a sincere desire to learn
you at least deserve a phone call, so that is the next step based on your answers.
	      EOS
	    }%>

	  <%= render partial: 'faq_item', locals: {
	    question: "How will I know when my interview is?",
	    answer: <<-EOS
You will receive an email with a link to your Instructor's Calendar and
a request to pick a time that suits you for a 30 minute discussion. Email us back
with your suggestion and we will take it from there.
	    EOS
	  }%>

	<%= render partial: 'faq_item', locals: {
	  question: "After I speak with my future Instructor what happens?",
	  answer: <<-EOS
We next will have you schedule 20 minutes to chat with a student currently
enrolled in the program, so you can get a perspective from someone much like
yourself with the same goals.
	  EOS
	}%>

      <%= render partial: 'faq_item', locals: {
	question: "OK, so I talked to a current student and I am still a go!",
	answer: <<-EOS
At this point there is nothing you have to wait for. Tell us you are dying
to get started and we will send you a link to handle your enrollment payment and
you can start immediately or when it is convenient for you. There are no cohorts 
or artificial separations here.
	EOS
      }%>
	  </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
