<%- content_for(:title) do %>
Learn to code at our online coding bootcamp | Devschool
<%- end %>

<%- content_for(:description) do %>
At Devschool's online coding bootcamp we don't just train you to become a web developer, we GUARANTEE YOU A JOB when you graduate!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/coding-bootcamp
<%- end %>

<%- content_for(:keyword_tags) do %>
online coding bootcamps, online coding schools, learn to code, dev bootcamp, hack reactor, general assembly, devschool, become a web developer
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_#{(1..6).to_a.sample}.jpg") %>" width="100%" class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
        <h1>
          <div class="top">LEARN WEB DEVELOPMENT</div>
          <div class="middle">THROUGH PRIVATE, EXPERT INSTRUCTION</div>
          <div class="bottom">IN ABOUT 500 HOURS OF HACKING TOGETHER, ONLINE, IN A SUPPORTIVE, SOCIAL ENVIRONMENT</div>
        </h1>
      </div>
    </div>
  </div>
<%- end %>

<hr>

<%= render 'reviews' %>

<hr>

<section class="container">
  <div class="text-center">
    <h2 class="jumbotron">YOU WANT TO LEARN TO CODE SO YOU CAN EARN BETTER 💰 AND BECUASE YOU REALLY <span class="red">❤</span> TO BUILD STUFF! WE TOTALLY GET IT!</h2>
  </div>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ElaFu6i7ZEU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="text-center">
    <h2 class="jumbotron">AT DEVSCHOOL YOU WILL LEARN TO CODE, BUT FAR MORE THAN THAN, WE 
      PREPARE YOU FOR YOUR INTERVIEWS, AND HELP YOU SOLVE CODE CHALLENGES. YOU GRADUATE WHEN 
      YOU GET A JOB!</h2>
  </div>
</section>

<hr>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>Full Stack Developer Course: <%= number_to_currency Product.prepay_price %></h2>
        <h3>Make 2016 the year you make a change in your life you will look back on very fondly of!</h3>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-4.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>PREPAY ENROLLMENT</h5>
                  <p>Psst. Want to save a cool <%= number_to_currency Product.prepay_savings_amount %>? Pre-paying for your education is a great way to save and who doesn't like to save some hard earned money?</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-5.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>MAKE PAYMENTS</h5>
                  <p>You can also make <%= Product.payment_count %> monthly payments of <%= number_to_currency Product.payment_amount %> if that fits your style better. You pay the financing fee of $1,000 but the payments are easy.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-6.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>WE GUARANTE IT</h5>
                  <p>We back our performance by a pro-rated money back guarantee. Should you decide that Devschool is not for you, we will give you a pro-rated refund.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<%= render 'get_started' %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">

      <div class="tools-content text-center">
        <h2>Some of the awesome stuff you will learn</h2>
        <h3>We don't believe in training wheels, we believe in teaching professional grade stuff</h3>
        <div class="tool-in-content">
          <div class="tool-row sp">
            <div class="row">
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-1.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>These are programs known as "shells" and they allow you to interact with a computer via the "Terminal". While both provide scripting capability, we at Devschool find ZSH to be more useful and it is the recommended shell here.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-2.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>We can use Git to secure our files against loss or corruption, for working on experimental branches, for tracking changes made by other developers, and merging it all back together so it can be deployed live on the internet.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-3.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>When data must be stored (which is basically all the time), a database is needed to store and retrieve that data At Devschool we primarily focus on tried and true Postgresql and then show you newer formats like Mongo.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tool-row dw">
            <div class="row">
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-4.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>Vim is some super-secret sauce. Not only does it make you look like a wizard while you are creating and editing files (which by the way is 90% of your new life as a web developer!) but it also is built to be a very powerful, efficient tool.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-5.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>We LOVE Macs here at Devschool. This is not an accident. Not only are they stunningly beautiful machines for doing computer work on, but they are built on UNIX, which is the basis of all those webservers out there.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <img src="<%= asset_path('tool-6.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>We LOVE Linux at the Devschool! Similar to OSX, it is built on the solid core of the UNIX operating system, providing a robust, secure platform to build software like that of the web. It has a bit of a steep learning curve though.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-1.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>HTML is the heart and soul of the web. It is the foundation on which all the other languages and technologies revolve around and is in constant flux.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-2.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text ">
                    <p>Without CSS the web would be a dull and drab place indeed! It is these Cascading Style Sheets that provide all of the color, margin, and fonts to your favorite websites.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-3.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text ">
                    <p>JavaScript is the only language embedded in every browser on the planet. It is the mechanism by which content is changed, loaded, sorted, or otherwise animated.  </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-4.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>Bootstrap is a framework created by Twitter to provide an easy mechanism to render complex content to a wide variety of screen dimensions. </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-5.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>React comes to us from the minds at Facebook. It is the technology used to create the highly interactive web based components used on their website. </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text sp">
                  <div class="tool-icon">
                    <img src="<%= asset_path('lang-6.jpg') %>" class="img-responsive center-block"/>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>Ruby on Rails provides an excellent back-end framework for websites with a lot of data entry going on. It excels at allowing Developers to quickly build features.  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>We partner with Non Profit companies</h2>
        <h3>Through these partnerships you real world experience, and you help real people!</h3>

        <%= image_tag 'newstory-screen.jpg', class: 'img-responsive center-block' %>

      <hr>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-10.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL IMPACT</h5>
                  <p>The work you do will actual impact literally hundres of families' lives. Can you say the same of
                  building a clone at one of the "Big Box Bootcamps"? Yeah, we didn't think so!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-11.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL SOFTWARE</h5>
                  <p>This isn't just any software, it processes hundreds of donations and thousands upon thousands of dollars,
                  so in your interview when your potential new boss asks if you have work on a 'real' site you yeah, Yeah!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-12.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL TEAMWORK</h5>
                  <p>In order to participate in these kinds of large-scale projects, you have to learn to work with other people
                  and at Devschool we teach you toold and workflows to faciliate this to happen.</p>
                </div>
              </div>
            </div>
          </div>

          <hr>
          
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-7.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL EXPERIENCE</h5>
                  <p>When you have the basics down and are ready to move to the next level in your education we
                  pair you with one of our partners and you get to work on real software in the real world.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-8.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL CHARITY</h5>
                  <p>You could intern working on commercial products and web sites to build the same experience. But why line some rich company's pockets when you can help real people in need?</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-9.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL JOBS</h5>
                  <p>100% of our graduating students get placed in a job within 90 days of completing the program. Getting that first job can be hard, but you will have an expert sidekick!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%= render 'get_started' %>

  <span id="faq"><a name="faq"></a></span>

  <div class="faq-folder">
    <div class="container">
      <div class="faq-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="faq">

              <div class="faq-heading text-center">
                <h2>THE DEVSCHOOL FAQ</h2>
              </div>

              <%= render partial: 'faq_item', locals: {
                question: "Is the curriculum pre-planned and step by step?",
                answer: <<-EOS
Our coding bootcamp focuses on the DOING part of learning. There is no step A, 
step B, step C, prescribed ahead of time in the real world, and since at our 
core, we are an Agile organization, we have no time for things pulled from our 
own rear ends. We like organic solutions, not contrived examples.

What better way to learn to build web apps to do it by building real, 
interesting web applications, not a Pinterest clone no one will ever 
use or love. At Devschool you will select (with the help of your Instructor) 
a topic that interests you, and then you will build a web app related to that.
                EOS
              }%>

            <%= render partial: 'faq_item', locals: {
              question: "What kind of students do you accept? Newbies? Mid level?",
              answer: <<-EOS
Since opening our doors officially, we have taught people from all walks of life and
of all ages. Some students have never written a line of real code in their life, and
some students come to us from other Bootcamps or from Universities.

Since our Instructors have a minimum of 10 years in software development and a wide
range of abilities and skills, it makes it very easy for us to teach students from
many different backgrounds and from various skill levels.
              EOS
            }%>

          <%= render partial: 'faq_item', locals: {
            question: "You are based in the USA, do I have to be from the USA?",
            answer: <<-EOS
Yes, we are based in the USA, however you can be from anywhere in the world as long
as you speak enough english to communicate with your Instructor and the other students
and if your schedule and timezone line up to do class between the hours of 10am and 6pm
Central US time.

We have had students from Canada, New Zealand, Mexico, The UK, India, and Columbia so
far and we would love to have to update this list to add your home country!
            EOS
          }%>

        <%= render partial: 'faq_item', locals: {
          question: "What hours are class held? Is it flexible?",
          answer: <<-EOS
Our school is in US Central time and sessions happen mostly between
10am and 6pm, however it is possible to have your one on one's held later
in the evening based on Instructor availablitity. We do this for people who
work during the day, and for our students east of the Atlantic
          EOS
        }%>

      <%= render partial: 'faq_item', locals: {
        question: "How do I work with my Devschool Instructor?",
        answer: <<-EOS
You will work directly with your Instructor to plan your web application
in the exact same way you would once you are working in the 'real world', 
figuring out the features needed along the way and how the user interfaces will
look.

Each week you will meet with your Instructor via Zoom <a rel="nfollow" href="https://zoom.us">
zoom.us</a> via screen sharing and audio chat. You can broadcast your 
video if you like, but usually we just do a photo instead of video so 
your hair can be messy or you can learn in your pajamas, whatever floats your boat.

The number of times you will meet with your instructor weekly is between
the two of you, and is scheduled a month in advance. This allows you to adapt
your learning experience based on your own ever-changing availability.
        EOS
      }%>

    <%= render partial: 'faq_item', locals: {
      question: "What about 'homework &amp; hacking' time? What will I learn on my own?",
      answer: <<-EOS
There are a total of 420 hours in the curriculum when you discount the
time you spend interning with a non profit. That means 40 of those hours are 
one on one with your Instructor. The rest is a combination of group sessions, 
and "homework and hacking" hours, in which you hack on your app and the learning takes
whatever twists and turns as you run into challenges along the way.
      EOS
    }%>


  <%= render partial: 'faq_item', locals: {
    question: "What about learning in a group setting do you have that?",
    answer: <<-EOS
Group sessions are available at least once a day, five days a week,
and are led by your Instructor. During these pair programming sessions patterns
and practices will be demonstrated by your instructor in a wide variety of
programming topics.

It is 'participation pair programming' in the sense that if you are following
along and you understand the material, shout out answers. Challenge your
Instructor's code. Don't quite yet know what is going on? Stay quiet and
watch it all unfold.
    EOS
  }%>

<%= render partial: 'faq_item', locals: {
  question: "When do these group pair programming sessions take place?",
  answer: <<-EOS
Group sessions happen once a day if there is demand. There must be at
least 2 students available for the days group session to take place. Otherwise
it wouldn't be much of a group! They happen on a revolving schedule, meaning
that each day the group session is at a different time. This allows us to
accommodate more diverse student schedules.
  EOS
}%>


<%= render partial: 'faq_item', locals: {
  question: "Can I record the group and private sessions to re-watch later?",
  answer: <<-EOS
Absolutely! In fact we recommend that you create a folder at the very
beginning of the course and save a recording of every session you attend
there for later viewing. It is like having your own personal coding bootcamp
screencast series!
  EOS
}%>

            <%= render partial: 'faq_item', locals: {
              question: "What if I don't know what I want to focus on?",
              answer: <<-EOS
Maybe the application you want to build will naturally lend itself to a 
heavy JavaScript interface, creating a very interactive experience. Maybe it
will be more MBA related and have lots of forms in which to enter data, or
maybe something more like a marketplace with money changing hands.

One of the greatest strengths of the curriculum at our coding bootcamp is it's
ability to adapt based on the interests and needs of each student. Not everyone
wants to build the same five web applications to learn.
              EOS
            }%>


        <%= render partial: 'faq_item', locals: {
          question: "What front-end web developer skills will I learn and focus on?",
          answer: <<-EOS
The backbone and foundation of the Internet is HTML and more recently, HTML5. HTML
is the structure of the web page, but you also need some style. That is where CSS
and again, more recently, CSS3 comes into play. You 'put' an element on a page 
(like a unordered list) with HTML, you make it look pretty with CSS.

But there is more to it then just the languages. We also need a front-end framework
to equalize out all the various differences in browsers and computers. We need
something that will allow the pages we build respond to changes, like when we
flip our phones or tablets from vertical to horizontal. Or to just deal with the
myriad of screen sizes available.

That is where Twitter's Bootstrap front-end framework comes in. We teach you the
nitty gritty of responsive design using bootstrap and tools like Masonry, which
is how Pinterest gets such awesome looking flowing pages!.
          EOS
        }%>

      <%= render partial: 'faq_item', locals: {
        question: "Can I use Windows to learn Web development at your coding bootcamp?",
        answer: <<-EOS
Windows is a fine operating system for writing Microsoft software or to
use as a business platform, and it makes an excellent gaming platform, likely
the best on the market. However it is not great for writing web software that
relies on open source libraries and technologies.

We used to advise Windows users to run Linux on a virtual machine, however
that turned out to be slow and highly problematic. We are no longer advising 
people to run virtual machines. It is much better to buy a used Windows laptop
and install Linux on it.

Windows does not support the libraries that are needed, and it doesn't share
the same architecture. In short Windows speaks a language of it's own, while
Linux and OSX both agree to support much of UNIX.
        EOS
      }%>

    <%= render partial: 'faq_item', locals: {
      question: "What computer do you recommend for learning web development?",
      answer: <<-EOS
Our own statistics show: Mac OSX users have the smoothest web development experience
with the tools you will learn here. That being said, we also love Linux if it is
run natively and the person wants a real software education and maybe a bit of
adventure.

Ubuntu and Mint are popular choices for those who want to strut their kneckbeards,
be they man, be they woman. Both Linux and OSX are built on the foundations of
UNIX.
      EOS
    }%>


  <%= render partial: 'faq_item', locals: {
    question: "Will I learn the 'Server-Side' at your coding bootcamp?",
    answer: <<-EOS
Ruby is commonly listed as the second most listed language in all
open source job postings. Ruby on Rails is a web framework specifically
designed to help you get things done quickly. What kind of things? 
Web development things!

We also will teach you 'Algorithms' and how to write performant code.
You will be able to roll your own APIs, build "web services", and understand
the differences in the various types of memory and processors.
    EOS
  }%>

<%= render partial: 'faq_item', locals: {
  question: "Will I learn JavaScript at Devschool?",
  answer: <<-EOS
JavaScript is said to be the "Next Big Thing" by many, many smart developers
with their fingers on the pulse of the Internet. We also feel that JavaScript is
highly important to the future of web development stacks, so we teach a good amount
of it once you get some basics under your belt.
  EOS
}%>


            <%= render partial: 'faq_item', locals: {
              question: "What about Payment processing chat apps and things like that?",
              answer: <<-EOS
To be an effective developer you need to know a good measure of all of these things to
be a candidate worth hiring. And that means a candidate who can wrangle all these tools
and languages into technology solutions for businesses.

Along the way you will learn how to leverage 
<a rel="nofollow" href="https://stripe.com/">Stripe for payments</a>
to accept payments, and how to build real time apps like chat, back end management 
apps, statistics gathering and chart displays, and anything else that comes up 
when you are building a real app over a span of months or more.

You will also learn about deployment and setup and DNS at 
<a rel="nofollow" href="https://heroku.com">Heroku for simple deployment</a>,
<a rel="nofollow" href="https://aws.amazon.com/">Amazon Web Services (AWS) for professional-grade services</a>, and
<a rel="nofollow" href="https://www.cloudflare.com/">CloufFlare for DNS and site speed</a>.

It is a lot to learn, but our job is to guide you through it, so you learn what you need
to know, and not get bogged down in the things that might not matter. You can think of
the Devschool online developer bootcamp like your technology education flashlight in the dark!
              EOS
            }%>

              <%= render partial: 'faq_item', locals: {
                question: "What is the complete coding bootcamp price?",
                answer: <<-EOS
#{number_to_currency Product.prepay_price} covers it if you pay at the time of enrollment.
                EOS
              }%>

            <%= render partial: 'faq_item', locals: {
              question: "What is the cost if I need to make payments?",
              answer: <<-EOS
If you choose to make payments instead of paying up front you agree to make #{Product.payment_count} payments of #{number_to_currency Product.payment_amount}, for a total of #{number_to_currency Product.financed_price}.
              EOS
            }%>

          <%= render partial: 'faq_item', locals: {
            question: "How are payments processed, do you have my Credit Card number?",
            answer: <<-EOS
All payments are handled by our partner, <a rel="nofollow" href="https://stripe.com" class="seoquake-nofollow">
Stripe</a> and at no time do we ever store any of your credit card details on
our servers or in our databases. We take your financial security seriously.
            EOS
          }%>

        <%= render partial: 'faq_item', locals: {
          question: "If I go with payments when will they be due each month?",
          answer: <<-EOS
That depends on the day you pay initially. You will be billed on the same day each month until your balanced is settled. Well unless you sign on a leap day.

This is not a monthly service, so once you make your 6 payments you are done. There are no more to make after that.
          EOS
        }%>


      <%= render partial: 'faq_item', locals: {
        question: "What if I decide to get a refund?",
        answer: <<-EOS
We have refunded a couple of Students so far, but it was always a financial
burden they were facing not due to our performance. You can get a refund as per the
<a href="/coding-bootcamp/terms">Terms of Service</a>.
        EOS
      }%>

          <%= render partial: 'faq_item', locals: {
            question: "How is it exactly that we meet together online?",
            answer: <<-EOS
Devschool utilizes a mixture of technologies to accomplish a "connected"
environment and culture for our Students. This is not like Udemy where you
feel like you are in it alone. We promote a very social atmosphere.

We use <a rel="nofollow" href="https://www.flowdock.com/">Flowdock</a> for
our chat program, but it is really so much more then that! It allows contextual
conversations so what you are talking about doesn't get mixed up with other
people's messages that have nothing to do with what you are saying.
            EOS
          }%>

        <%= render partial: 'faq_item', locals: {
          question: "What about screen-sharing? How does that work exactly?",
          answer: <<-EOS
We use a program called <a rel="nofollow" href="http://zoom.us/">Zoom</a> 
to broadcast our private and group sessions. This allows the Instructor to 
share his screen and work and demonstrate things with live lessons, or to 
switch over to a student's machine and fix something for them.

It works best with Mac but there is a version for Linux as well.
          EOS
        }%>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'get_started' %>

</div>
