<%- content_for(:title) do %>
We don't just make you a programmer, we get you a job!
<%- end %>

<%- content_for(:description) do %>
At Devschool our method of teaching is through pair programming with expert instructors in one on one sessions as well as group sessions and NGO interning
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/how
<%- end %>

<div class="full-bg full-how"
     style="background: url(<%= image_path('heroes/how-bg.jpg') %>) no-repeat 100% 80% fixed;">
     <div class="container">
       <div class="row">
         <div class="col-md-12 above-fold">
           <h1><strong>Devschool</strong> is an <strong>online coding school</strong>
               where you <strong>learn by doing</strong>, writing and <strong>
               refactoring</strong> code with 
             your <strong>expert instructor</strong>!</h1>
           <h2><a data-scroll href="#below-the-fold">Scroll down</a> to learn more
             about how our online bootcamp works</h2>
         </div>
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Build real world applications that solve real problems</h2>
      <h3 class="headline">In this online bootcamp you don't waste time with fake clones</h3>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">one on one</h3>
      <%= image_tag image_path("one-on-one-3rd.png"), class: "img-responsive center-block",
        height: "187px", width: "312px" %>

      <p class="tailline">Get weekly guided expert experience through
      pair programming on your real-world apps</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">team work</h3>
      <%= image_tag image_path("teamwork-3rd.png"), class: "img-responsive center-block",
        height: "187px", width: "312px" %>
      <p class="tailline">Participate in daily group sessions led by 
      your instructor solving problems as a team</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">homework</h3>
      <%= image_tag image_path("homework-3rd.png"), class: "img-responsive center-block",
        height: "187px", width: "312px" %>
      <p class="tailline">Your curriculum formed by the challenges
      you encounter building your application</p>
    </div>
  </div>

</div>

<div class="colored-section blue">

  <div class="row review-card" itemscope itemtype="http://schema.org/Review">
    <div class="col-md-offset-1 col-md-4 text-center">
      <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
        <span class="hidden" itemprop="name">Devshool Online Developer Bootcamp</span>
      </div>
      <span class="hidden" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span itemprop="ratingValue">5</span> stars</span>
      </span> 
      <%= image_tag image_path("reviewers/mehgan-holden.png"), class: "reviewer-photo img-circle img-responsive center-block img-circle",
        height: "282px", width: "300px"%>
    <div class="reviewer" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <div itemprop="name">Mehgan Holden</div>
      <div class="text-small">New York, USA</div>
    </div>
  </div>
  <div class="col-md-5">
    <blockquote itemprop="reviewBody">
      <p>At Devschool I learned the skills that I needed to land the job I 
      have today. I completed my Web Development course in 18 weeks as 
      I had other obligations and Devschool was flexible enough for me to 
      handle both!</p>

      <p>I would recommend the Web Developers course at Devschool to anyone 
      who wants to cut through the cruft and really, really learn the skills 
      they will need to build modern web applications.</p>
    </blockquote>
  </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="headline">Level up your studies with a real Apprenticeship</h2>
      <h3 class="headline">Our online developer bootcamp puts you in real world development situations</h3>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Get direct, one on one help</h3>
        <p>You have questions. Get clear, precise answers directly from your Instructor.
        You will connect with them weekly live and in person, or during the school
        day when they are free for a quick chat.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Screensharing and pairing</h3>
        <p>Interact in real-time using sophisticated video/audio/screenshare software
        with your Instructor. This can save countless hours of "floundering in the
        dark" on problems.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">A guided learning experience</h3>
        <p>Sometimes you don't know what you don't know, making it difficult to know
        what to look for or what to ask. You expert Instructor can help you make
        breakthroughs in your application and learning in record time!</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <h3 class="headline">Complex concepts, simplified</h3>
        <p>Get complex problems broken down into a small series of understandable, and
        repeatable patterns. Having difficult concepts solved in person, one on one
        is much simpler than absorbing it from a book.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">An encouraging environment</h3>
        <p>When learning difficult concepts for the first time, it helps to have an
        encouraging environment. Devschool won't make you feel stupid for not 
        knowing something.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Based on a proven methodology</h3>
        <p>Your Instructor is not just a great programmer with more than a few
        grey hairs. Jim has worked hard to perfect his teaching style, using
        a mix of German methodology and good ol' humanism to make learning easy.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Real World Software is built by <strong>Teams</strong></h2>
      <h3>Learn how to <strong>interact</strong> with your <strong>peers</strong> 
        on those projects</h3>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <h3 class="headline">Learning online shouldn't be isolating</h3>

        <p>Between multiple sessions a week with your instructor and participating
        in the numerous open group sessions each week, you will have plenty
        of interaction with real people and real software.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Camaraderie and peer support helps</h3>
        <p>Self assembling teams are a great way to keep connected to your peers, and
        always have a second set of eyes on a problem when needed. Your peers share
        your deep investment in furthering your education.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Collaborate with your peers via GitHub</h3>
        <p>Create pull requests, comment on each other's code, make suggestions, and
        help each other write better software. Devschool teaches you simple
        work flows to engage on each others' projects.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <h3 class="headline">Complex concepts, simplified</h3>
        <p>Get complex problems broken down into a small series of understandable, and
        repeatable patterns. Having difficult concepts solved in person, one on one
        is much simpler than absorbing it from a book.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">An encouraging environment</h3>
        <p>When learning difficult concepts for the first time, it helps to have an
        encouraging environment. Devschool won't make you feel stupid for not 
        knowing something.</p>
      </div>

      <div class="col-md-4">
        <h3 class="headline">Based on a proven methodology</h3>
        <p>Your Instructor is not just a great programmer with more than a few
        grey hairs. Jim has worked hard to perfect his teaching style, using
        a mix of German methodology and good ol' humanism to make learning easy.</p>
      </div>
    </div>
  </div>


</div>

<div class="section-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 faq-section">
        <h2>How we teach - FAQ</h2>

        <p>Learning a new skill is difficult but exciting. Programming and especially
        web development - probably doubly so. It requires you learning a half dozen
        new languages, retraining your brain to think in abstractions, and absorbing
        a constantly changing catalog of tools and advancements.</p>

        <h3>Q. What is the Devschool Curriculum? Is it step by step?</h3>

        <p>A. At Devschool we focus on the DOING part of learning. There is no step A,
        step B, step C, prescribed ahead of time in the real world, and since at our
        core, we are an Agile organization, we have no time for things pulled from our
        own rear ends. We like organical solutions, not contrived examples.</p>

        <p>You are going to be learning to build web applications. What better way
        then to do it by building web applications, but not some clone of something
        you aren't interested in. Instead you will select (with the help of your
        Instructor) a topic that interests you, and then you will build a web app
        related to that.</p>

        <p>Also while learning to become a web developer here at Devschool's online bootcamp
        program you will do REAL work on REAL applications on the REAL interwebs
        for a <%= link_to "REAL Non Profit Organization", ngo_path %>!</p>

        <h3>Q. How do I work with my Devchool Instructor?</h3>

        <p>A. You will work directly with your Instructor to plan your web application
        in the exact same way you would once you are working in the 'Real World', 
        figuring out the point of it, what features will it have, how would those
        interfaces would actually look.</p>

        <p>Each week you will meet with your Instructor via Zoom (https://zoom.us)
        via screen sharing and audio chat. You can broadcast your video if you like,
        but usually we just do a photo instead of video so your hair can be messy
        or you can learn in your pajamas, whatever floats your boat.</p>

        <p>The number of times you will meet with your instructor weekly is between
        the two of you, and is scheduled a month in advance. This allows you to adapt
        your learning experience based on your own "real world" events and timelines.</p>

        <h3>Q. What about self study hours? What will I learn on my own?</h3>

        <p>A. There are a total of 420 hours in the curriculum. Only 40 of those are 
        one on one with your Instructor. The rest is a combination of Group Sessions
        or as we call them #OpenSessions, and self study hours, in which you hack
        on your app and the learning takes whatever twists and turns it needs as your
        needs change.</p>

        <h3>Q. What about learning in a group setting?</h3>

        <p>A. Group sessions are available at least once a day, five days a week,
        and are led by your Instructor. These sessions are live coding sessions. It
        is participation pair programming in the sense that if you are following
        along and you understand the material, shout out answers. Challenge your
        Instructor's code. Don't quite yet know what is going on? Stay quiet and
        watch it all unfold.</p>

        <h3>Q. What about Pair Programming? Do you teach that at Devschool?</h3>

        <p>A. Yes we do! Pair programming happens by the process we call "Self Assembling
        Teams" which just means, be as engaged with each other as your comfort
        allows. Some students like to work with others a lot, some like to work
        alone mostly. We teach you to work both ways and give you options!</p>

        <h3>Q. Can I record the group and private sessions to rewatch later?</h3>

        <p>A. Absolutely! In fact we recommend that you create a folder at the very
        beginning of the course and save a recording of every session you attend
        there for later viewing. It is like having your own personal programming
        screencast series!</p>

        <h3>Q. What if I don't know what I want to focus on?</h3>

        <p>A. Maybe the application you want to build will naturally lend itself to a 
        heavy JavaScript interface, creating a very interactive experience. Maybe it
        will be more MBA related and have lots of forms in which to enter data, or
        maybe something more like a marketplace with money changing hands.</p>



        <p class="well next">So I learn by doing in an expert led real-world environment. <%= link_to "So who is my expert Instructor?", who_path %></p>

      </div>
    </div>
  </div>

</div>
