<%- content_for(:title) do %>
NewStory Charities - Meet our featured NGO Partner!
<%- end %>

<%- content_for(:description) do %>
Our students work directly on code that puts homeless families into newly built, save houses!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/partnerships/new-story
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_ngo.jpg") %>" width="100%" 
          class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
        <h1>
          <div class="top">NewStory Charity</div>
          <div class="middle">helps fund life-saving homes</div>
          <div class="bottom">and Devschool get's to help them do it with our student to internship program!</div>
        </h1>
      </div>
    </div>
    <span id="learn-more"></span>
  </div>
<%- end %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2><a target="_blank" href="http://newstorycharity.org">NewStory Charity</a> is a YCombinator backed venture</h2>
        <h3>Check out this awesome <a rel="nofollow" href="http://techcrunch.com/2015/05/15/yc-backed-new-story-crowdfunds-houses-for-homeless-families/" target="_blank">WRITE UP TECHCRUNCH</a> did on our featured NGO Partner!</h3>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-10.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL IMPACT</h5>
                  <p>The work you do will actual impact literally hundres of families' lives. Can you say the same of
                  building a clone at one of the "Big Box Bootcamps"? Yeah, we didn't think so!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-11.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL SOFTWARE</h5>
                  <p>This isn't just any software, it processes hundreds of donations and thousands upon thousands of dollars,
                  so in your interview when your potential new boss asks if you have work on a 'real' site you yeah, Yeah!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-12.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL TEAMWORK</h5>
                  <p>In order to participate in these kinds of large-scale projects, you have to learn to work with other people
                  and at Devschool we teach you toold and workflows to faciliate this to happen.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'reviews/jorge_madrid' %>

<%= render 'squeeze_open_group' %>

  </div>
</div>
