<%- content_for(:title) do %>
At Devschool you work with real non profits while you learn
<%- end %>

<%- content_for(:description) do %>
Why wait until you graduate to get before the eyes of hiring managers? Work for an NGO while in school!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/partnerships/ngo-program
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_hired.jpg") %>" width="100%" 
          class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
        <h1>
          <div class="top">our online coding bootcamp</div>
          <div class="middle">trains you as a jr. web developer</div>
          <div class="bottom">We give you real world experience, and then we get you your first job!</div>
        </h1>
      </div>
      <span id="learn-more"></span>
    </div>
  </div>
<%- end %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>We partner with Non Profit and NGO companies</h2>
        <h3>Through these <a href="/partnerships/new-story">partnerships</a> we get you real world experience, and you get to help real people!</h3>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-7.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL EXPERIENCE</h5>
                  <p>When you have the basics down and are ready to move to the next level in your education we
                  pair you with one of our partners and you get to work on real software in the real world.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-8.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL CHARITY</h5>
                  <p>You could intern working on commercial products and web sites to build the same experience. But why line some rich company's pockets when you can help real people in need?</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-9.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>REAL JOBS</h5>
                  <p>100% of our graduating students get placed in a job within 90 days of completing the program. Getting that first job can be hard, but you will have an expert sidekick!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <center class="well">
    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">&quot;If something is important enough, even if the odds are against you, you should still do it&quot; - <a href="https://twitter.com/elonmusk">@elonmusk</a> <a href="https://twitter.com/hashtag/ThankYou?src=hash">#ThankYou</a>! <a href="https://t.co/diFKQmszud">pic.twitter.com/diFKQmszud</a></p>&mdash; Devschool (@devschoolrocks) <a href="https://twitter.com/devschoolrocks/status/686051112680427520">January 10, 2016</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>

<%= render 'squeeze_open_group' %>

  <div class="faq-folder">	
    <div class="container">
      <div class="faq-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="faq">

              <div class="faq-heading text-center">
                <h2>PRICING/PAYMENT FAQ</h2>
              </div>

              <%= render partial: 'faq_item', locals: {
                question: "Why do we have to do intern work at an NGO?",
                answer: <<-EOS
Our job at Devschool is not to just teach you web development, but
to also get you a job in the web development field. In order to get a job
you must have first had one. It can be a vicious cycle of No.

We have found that it is a lot easier to build experience with Non Profits
as they are more apt to work with Jr Developers who have enthusiasm for the
mission.

Gaining that initial team experience and referrals is a critical step
to becoming a paid web developer, and Devschool's NGO Parter Program is
designed to do exactly that.
                EOS
              }%>

              <%= render partial: 'faq_item', locals: {
                question: "Is this NGO internship work paid?",
                answer: <<-EOS
No, the interning hours that you do as part of your school work is
not paid work in the sense that you get money. You will however get valuable
experience and some people in your corner backing you when you look for you
real job.
                EOS
              }%>

              <%= render partial: 'faq_item', locals: {
                question: "Who is your featured NGO Partner?",
                answer: <<-EOS
We are very proud to have formed a partnership with <a href="/partnerships/new-story">NewStory Charity</a>.
They help crowd fund much meeded, life saving homes for homeless families in need! Our interns help
work on new technology for them so they can do what they do best and help people!.
                EOS
              }%>


              <%= render partial: 'faq_item', locals: {
                question: "What if I don't want to work for a non profit?",
                answer: <<-EOS
If you chose to work for a normal, for profit company when you graduate
we will help you find and nail your job with Interview readiness resources.
                EOS
              }%>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
