<%- content_for(:title) do %>
Coding Bootcamp | SAVE $499 off Devschool's Online Coding Bootcamp
<%- end %>

<%- content_for(:description) do %>
For as little as $4489 you can attend Devschool's online coding bootcamp 
program and become a web developer - We get you your first job!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/coding-bootcamp/price
<%- end %>

<div class="full-bg full-price"
     style="background: url(<%= image_path('heroes/price-bg.jpg') %>) no-repeat 50% 10% fixed;">
     <div class="container">
       <div class="row vertical-center">
         <div class="col-md-12 above-fold text-center">
           <h2>We <strong>believe</strong> that in today's world, a </h2>
           <h1>online coding bootcamp</h1> 
           <h2>should be <strong>affordable</strong> 
           and <strong>accessible</strong></h2>

           <h3><a data-scroll href="#below-the-fold">Scroll down</a> to read more about our simple pricing!</h3>
         </div>
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Our program consists of <%= Product.session_count %> "one-on-one" <%= Product.session_length %> minute sessions
        with your Instructor, up to 5 instructor-led group sessions a week, and in total,
        420 hours of building web applications</h2>
      <h3 class="headline">We don't just train you up, we get you a job in programming!</h3>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Save some money</h3>
      <p class="tailline">The program costs <span class="price">
        <%= number_to_currency Product.prepay_price %></span> <span class="text-small">USD</span> if you pay in full when you enroll, saving a cool <%= number_to_currency Product.prepay_savings_amount %>!
      Pre-paying your enrollment cost makes a lot of sense, because there is no financing cost!</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">We are flexible</h3>
      <p class="tailline">You can also make <span class="price"><%= Product.payment_count %>
    </span> easy, monthly payments of <span class="price"><%= number_to_currency Product.payment_amount %>
  </span>
    <span class="text-small">USD</span> if that fits your style better. You pay the financing fee of <%= number_to_currency Product.finance_cost %> but the payments are super simple to make.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">Refund policy</h3>
      <p class="tailline">We back our performance by a pro-rate refund policy. 
      Should you decide that Devschool is not for you, we will happily refund your
      enrollment based on how long you have been with us.</p>
    </div>
  </div>

</div>

<div class="colored-section blue">
  <div class="row review-card" itemscope itemtype="http://schema.org/Review">
    <div class="col-md-offset-1 col-md-4 text-center">
      <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
        <span class="hidden" itemprop="name">Devschool Online Coding Bootcamp</span>
      </div>
      <span class="hidden" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span itemprop="ratingValue">5</span> stars</span>
      </span> 
      <%= image_tag image_path("reviewers/hector-moreno.png"), class: "reviewer-photo reviewer-photo-shadow img-circle img-responsive",
        height: "282px", width: "300px"%>
      <div class="reviewer" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div itemprop="name">Hector Moreno</div>
        <div class="text-small">Texas, United States</div>
      </div>
    </div>
    <div class="col-md-5">
      <blockquote itemprop="reviewBody">
        <p>I was already enrolled in Dev Bootcamp, I was in phase zero before I switched to 
        Devschool's coding bootcamp and I am going to explain why. During the first 3 weeks of Dev Bootcamp
        I started realizing that not only was the course over-priced, and some of the
        staff was under qualified.</p>

        <p>My instructor in phase zero and in phase 1 was going to be a recent graduate from
        Dev Bootcamp. How can you teach programming when you have never been exposed to 
        the real world? Not for 13k!</p>

        <p>I have in been in Devschool for 2 months now and I feel I have gotten 
        my moneys worth and then some! Devschool really is an awesome experience!</p>
      </blockquote>
    </div>
  </div>

</div>

<div class="container">
  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">intentionally small</h3>
      <p class="tailline">You cannot perfect a product at mass market scale. The
      very experience of our students at Devschool, that we put them above our
      or desire for endless piles of someone else's money.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">priced honestly</h3>
      <p class="tailline">In order to be affordable to as many students
      as possible, we have priced our coding bootcamp based on the real numbers and
      with modest margins. We are affordable, not cheap.</p>
    </div>

    <div class="col-md-4 col-sm-6 ">
      <h3 class="headline">instructor salaries</h3>
      <p class="tailline">Other online coding bootcamps pay their instructors less
      than $60k a year so they can make more money. We pay our instructors $90k
      a year to have better quality Instructors.</p>
    </div>
  </div>
</div>

<div class="section-yellow">
  <div class="container">

    <div class="row">
      <div class="col-md-12 faq-section">
        <h2>All about pricing - FAQ</h2>

        <p>Devschool's online coding bootcamp price is based on some simple
        factors. We have a small company staff, a very modest Headquarters in affordable
        Puerto Vallarta, Mexico (come visit us!), and the number of hours you meet
        personally with your Instructor.</p>

        <h3>Q. What is the complete coding bootcamp price?</h3>

        <p>A. $4,988 USD covers everything if you pay up-front.</p>

        <h3>Q. What is the cost if I need to make payments?</h3>

        <p>A. If you choose to make payments instead of paying up front you agree
        to make 6 payments of $998 USD, which is $5,988 USD.</p>

        <h3>Q. How are payments processed, do you have my Credit Card number?</h3>

        <p>A. All payments are handled by our partner, <a rel=nofollow href="https://stripe.com">
          Stripe</a> and at no time do we ever store any of your credit card details on
        our servers or in our databases. We take your financial security seriously.</p>

        <h3>Q. If I go with payments when will they be due each month?</h3>

        <p>A. That depends on the day you pay initially. You will be billed on the same
        day each month until your balanced is settled. Well unless you sign on a leap day :)</p>

        <h3>Q. What if I decide to get a refund?</h3>

        <p>A. We have refunded a couple of Students so far, but it was always a financial
        burden they were facing not due to our performance. You can get a refund as per the
        <a href="/terms">Terms of Service</a>.</p>

        <p>In most cases Students put their education on hold and were able to resume again
        after the crisis passed by paying back the money they refunded and picking up where
        they left off. We pride ourselves in being Human first and flexible.</p>

    <p class="well next">The program sounds really great, I am ready to apply! <%= link_to "How does that work?", apply_path %></p>
      </div>
    </div>
  </div>


</div>
