<%- content_for(:title) do %>
How much does Devschool's online coding bootcamp cost?
<%- end %>

<%- content_for(:description) do %>
For as little as <%= number_to_currency prepay_price %> you can 
attend Devschool's online coding bootcamp program and become a web developer - 
We get you your first job!
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/coding-bootcamp/price
<%- end %>

<%- content_for(:header) do %>
  <div class="header-bottom">
    <img src="<%= asset_path("banner_#{(1..6).to_a.sample}.jpg") %>" width="100%" 
          class="center-block box">
    <div class="container">
      <div class="carousel-content-panel text-center">
        <h1>
          <div class="top">our online coding bootcamp</div>
          <div class="middle">was designed to be affordable</div>
          <div class="bottom">and accessible to allow more people to learn web development</div>
        </h1>

        <p><a data-scroll href="#learn-more" class="btn btn-banner">LEARN MORE</a></p>
      </div>
      <span id="learn-more"></span>
    </div>
  </div>
<%- end %>

<div class="holder">
  <div class="learn-skill-holder">
    <div class="container">
      <div class="text-center">
        <h2>For as little as <%= number_to_currency Product.prepay_price %>, in <%= Product.session_count %> private sessions</h2>
        <h3>and after your <%= Product.intern_hours %> hours of non profit internship we will get you your first job!</h3>

        <div class="learn-icon-text">
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-4.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>SAVE MONEY</h5>
                  <p>Psst. Want to save a cool <%= number_to_currency Product.prepay_savings_amount %>? Pre-paying for your education is a great way to save and who doesn't like to save some hard earned money?</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-5.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>FLEXIBILITY</h5>
                  <p>You can also make <%= Product.payment_count %> monthly payments of <%= number_to_currency Product.payment_amount %> if that fits your style better. You pay the financing fee of $1,000 but the payments are easy.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-image-para">
                <div class="icon-image">
                  <img src="<%= asset_path('icon-6.png') %>" class="img-responsive center-block"/>
                </div>
                <div class="icon-para">
                  <h5>GUARANTEED</h5>
                  <p>We back our performance by a pro-rated money back guarantee. Should you decide that Devschool is not for you, we will give you a pro-rated refund.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'review', locals: {
    image_url:'hector-moreno.png',
    name: "Hector Moreno",
    location: "Texas, USA",
    review: <<-EOS
<p>I was already enrolled in Dev Bootcamp, I was in phase zero before I switched to Devschool's coding bootcamp and I am going to explain why. During the first 3 weeks of Dev Bootcamp I started realizing that not only was the course over-priced, and some of the staff was under qualified.</p>
<p>At Devschool I feel I have gotten my moneys worth and then some and I appreciate the expert instruction I didn't get at Dev Bootcamp.</p>
EOS
  } %>
  <center class="well">
    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">&quot;If something is important enough, even if the odds are against you, you should still do it&quot; - <a href="https://twitter.com/elonmusk">@elonmusk</a> <a href="https://twitter.com/hashtag/ThankYou?src=hash">#ThankYou</a>! <a href="https://t.co/diFKQmszud">pic.twitter.com/diFKQmszud</a></p>&mdash; Devschool (@devschoolrocks) <a href="https://twitter.com/devschoolrocks/status/686051112680427520">January 10, 2016</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>
  <div class="tools-holder">
    <div class="container">
      <div class="tools-content text-center">
        <div class="tool-in-content">
          <div class="tool-row sp">
            <div class="row">
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <h5>SMALL AND PERSONAL</h5>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>You cannot perfect a product at mass market scale. We don't accept everyone in order to give the best experience to our existing students. Devschool is a personal experience.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <h5>PRICED AFFORDABLY</h5>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>In order to be affordable to as many students as possible, we have priced our coding bootcamp based on the real numbers and with modest margins. Affordable, not cheap.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 sp">
                <div class="tool-icon-text">
                  <div class="tool-icon">
                    <h5>BEST INSTRUCTORS</h5>
                    <img src="<%= asset_path('red-line.jpg') %>" class="img-responsive center-block"/>
                  </div>
                  <div class="tool-text">
                    <p>Other online coding bootcamps pay their instructors $60k a year so the company can make more money. We pay our instructors $100/yr minimum to have the highest quality Instructors.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render 'squeeze_open_group' %>

  <div class="faq-folder">	
    <div class="container">
      <div class="faq-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="faq">

              <div class="faq-heading text-center">
                <h2>PRICING/PAYMENT FAQ</h2>
              </div>

              <%= render partial: 'faq_item', locals: {
                question: "What is the complete coding bootcamp price?",
                answer: <<-EOS
#{number_to_currency Product.prepay_price} covers it if you pay at the time of enrollment.
                EOS
              }%>

            <%= render partial: 'faq_item', locals: {
              question: "What is the cost if I need to make payments?",
              answer: <<-EOS
If you choose to make payments instead of paying up front you agree to make #{Product.payment_count} payments of #{number_to_currency Product.payment_amount}, for a total of #{number_to_currency Product.financed_price}.
              EOS
            }%>

          <%= render partial: 'faq_item', locals: {
            question: "How are payments processed, do you have my Credit Card number?",
            answer: <<-EOS
All payments are handled by our partner, <a rel="nofollow" href="https://stripe.com" class="seoquake-nofollow">
Stripe</a> and at no time do we ever store any of your credit card details on
our servers or in our databases. We take your financial security seriously.
            EOS
          }%>

        <%= render partial: 'faq_item', locals: {
          question: "If I go with payments when will they be due each month?",
          answer: <<-EOS
That depends on the day you pay initially. You will be billed on the same day each month until your balanced is settled. Well unless you sign on a leap day.

This is not a monthly service, so once you make your 6 payments you are done. There are no more to make after that.
          EOS
        }%>


      <%= render partial: 'faq_item', locals: {
        question: "What if I decide to get a refund?",
        answer: <<-EOS
We have refunded a couple of Students so far, but it was always a financial
burden they were facing not due to our performance. You can get a refund as per the
<a href="/coding-bootcamp/terms">Terms of Service</a>.
        EOS
      }%>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
