<%- content_for(:title) do %>
  What do I learn to learn to become a web developer?
<%- end %>

<div class="full-bg full-what">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>Become a <strong>fully qualified</strong>, <strong>full stack web developer</strong> in about <strong>420 hours</strong> by building <strong>real</strong> web apps <strong>side by side</strong> with an expert</strong>!</h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to find out what you will learn at Devschool</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Learn skills that translate directly into the workforce</h2>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">toolset</h3>
      <center><%= image_tag asset_path("toolset-icons.png"), class: "img-responsive" %></center>

      <p class="tailline">Learn expert toolsets and workflows like 
      UNIX and VIM, Git, and ZSH</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">languages</h3>
      <center><%= image_tag asset_path("languages-icons.png"), class: "img-responsive" %></center>
      <p class="tailline">Learn Ruby, Rails, Javascript, SQL,
      ReactJS, HTML5, CSS, Responsive Design</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">process</h3>
      <center><%= image_tag asset_path("process-icons.png"), class: "img-responsive" %></center>
      <p class="tailline">Learn iterative software design and
      development lifecycle planning</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row review-card">
    <div class="col-md-offset-1 col-md-4">
      <center><%= image_tag asset_path("reviewers/eric-douglas.png"), class: "reviewer-photo reviewer-photo-shadow img-responsive" %></center>
    </div>
    <div class="col-md-5">
      <blockquote>
        <p>Coming from a business background, I found programming intriguing but sometimes very confusing. My instructor excelled at simplifying concepts into easy to repeat axioms and patterns, and I found the experience at Devschool to be a very personal one. I would definitely recommend Devschool to anyone who wants to become a web developer.</p>
        <footer>Eric Douglas - Ohio, United States</footer>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Meet the tools of your new trade</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("bash-zsh-heading.png"), class: "img-responsive" %>
        </center>
        <p>These are programs known as "shells" and they allow you to interact with a computer via the "Terminal".
        While both provide scripting capability, we at Devschool find ZSH to be more useful and it is the recommended shell here.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("git-heading.png"), class: "img-responsive" %>
        </center>
        <p>We can use Git to secure our files against loss or corruption, for working on experimental
        branches, for tracking changes made by other developers, and merging it all back together for deployment.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("postgres-mongo-heading.png"), class: "img-responsive" %>
        </center>
        <p>When data must be stored (which is basically all the time), a database is needed to store and retrive that data
        At Devschool we primarily focus on tried and true Postgresql and then show you newer formats like Mongo.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("vim-heading.png"), class: "img-responsive" %>
        </center>
        <p>Vim is some super-secret sauce. Not only does it make you look like a wizard while you are creating and editing files (which by 
        the way is 90% of your new life as a web developer!) but it also is built to be a very powerful, efficient tool.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("osx-heading.png"), class: "img-responsive" %>
        </center>
        <p>We LOVE Macs here at Devschool. This is not an accident. Not only are they stunningly beautiful machines for doing computer
        work on, but they are built on UNIX, which is the basis of all those "servers" out there serving up the interwebs.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("linux-heading.png"), class: "img-responsive" %>
        </center>
        <p>We LOVE Linux at the Devschool! Like OSX, it is built on the solid core of the UNIX operating system, providing a robust,
        secure platform to build software like that of the web. If you need a budget machine to attend Devschool, look no further than Linux.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Introducing the languages of the interwebs</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("html-heading.png"), class: "img-responsive" %>
        </center>
        <p>HTML is the heart and soul of the web. It is the foundation on which all the other languages and technologies revolve around.
        It is a rich markup language, and with the recent implementation of HTML5, new possibilities of integrating media and the web are better than ever!</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("css-heading.png"), class: "img-responsive" %>
        </center>
        <p>Without CSS the web would be a dull and drab place indeed! Is is these Cascading Style Sheets that provide all of the color, margin, and fonts
        to your favorite websites. It also enables multiple screen sizes and configurations to display custom versions of the content formatted for the display.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("javascript-heading.png"), class: "img-responsive" %>
        </center>
        <p>Javascript is the only language embedded in every browser on the planet. It is the mechanism by which content is changed, loaded, sorted, or otherwise
        animated. It provides a common browser based platform to build truely interactive web applications that act more like a desktop app than a web app.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("bootstrap-heading.png"), class: "img-responsive" %>
        </center>
        <p>Bootstrap is a framework created by Twitter to provide an easy mechanism to render complex content to a web browser no matter
        what the dimension configuration. It provides layout helpers similar to the format of a newspaper and is used the world over to format the display of content.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("react-heading.png"), class: "img-responsive" %>
        </center>
        <p>React comes to us from the minds at Facebook. It is the technology used to create the highly interactive web based components used on the Facebook website.
        It has proven to turn common conventions on their heads and still come out ahead of the pack. We think React is the future of teh web.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("rails-heading.png"), class: "img-responsive" %>
        </center>
        <p>Ruby on Rails provides an excellent backend framework for websites with a lot of data entry going on. It accels at allowing Developers to quickly pump out
        prototype applications as well as powering huge websites with millions of users. It marries React very nicely and can be used as a json api server.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 awesome-people">
      <h2>What will I learn at Devschool?</h2>

      <p><strong>You will learn to be a detailed problem solver.</strong> You will learn to think beyond
          the "pretty" icons and sliders that other dev bootcamps teach. Sure, you will 
          know how to make your application interactive, but more importantly, you will 
          have the skills and insights to solve REAL WORLD business problems. You will 
          understand data, the core of any real application.</p>

      <p><strong>You will learn to make fantastic money from your skills as a programmer.</strong> 
        You will learn to make money in a career that richly rewards you for not only the
        the programming skills you will learn at DevSchool, but will reward you for the
        problem solving skills you will learn that other development bootcamps leave out
        of their curriculums.</p>
              
      <p>First let us get our shit on order. You want to make more money or at least work in
        a career that interests you (which probably also makes more money). To do that you
        need skills. But what skills? In what order? How much do you you need to learn of
        each one before you can a job that pays more then promises?</p>

      <p>My teaching style is to get you directly into "the shit" where you have no
        training wheels to get used to. That means before we can even talk about learning
        to build Web Applications we need an editor to edit the "code".</p>

      <h3>One editor to rule them all</h3>

      <p>You will start off learning Vim. It is extremely powerful and more importantly,
        better suited in my opinion than anything else to write web based software, which
        is what we are talking about here!</p>

      <p>Now that we have the editor figured out, let's talk about operating systems. Not
        all were created equal you see. Windows. is. out.</p>

      <h3>You can move at your OWN pace</h3>

      <p>If you already know HTML, you don't have to trod through HTML only lessions? Don't
        really care about styling things? Well, you only 'need' to know some Bootstrap to
        get through Devschool, but on the other hand you can get all kinds of artsty on it
        should feel the need.</p>

      <h3>Can I use Windows?</h3>

      <p>Sorry, I am no longer advising people to run virtual machines with Linux inside
        Windows. It is slow and another nightmare you don't need right now. You want
        to be snappy. You want the largest pool of possible support help sources and that]
        means OSX or Linux.</p>

      <h3>Why is that? I only have 1 laptop!</h3>

      <p>Windows does not support the same libraries as the other two, and it doesn't share
         the same architecture. In short Windows speaks a language the other two do not, while
         Linux and OSX both agree to support much of UNIX.</p>

      <h3>What DO you recommend?</h3>

      <p>Our own statistics show: Mac OSX users have the smoothest web development experience
        with the tools you will learn here. That being said, we also love Linux if it is
        run Native nd the person wants a real software education.</p>

      <p>Ubuntu and Mint are popular choices for those who want to struct their Kneckbeards,
        be they man, be they woman. Both Linux and OSX are build on the foundations of
        UNIX.</p>

      <h3>A cruddy job, but someone has to do it!</h3>

      <p>Most web applications are a collection of Create, Read, Update, and Delete events,
        also known as CRUD. This implies there will be a Database in use, and we teach
        and promote both Postgresql and Mongo and Redis depending on the task at hand.</p>

      <p>You also need some sort of User Interface, which will require some web pages. These
        web pages will share many common elements like navigation menus and logos and footers
        and the like. Since you don't want every 'page' to contain a copy of that code over
        and over, you need some templated language so you can 'insert' HTML into other HTML,
        something a pure HTML file does not allow.</p>

      <h3>The master or CRUD and getting shit done!</h3>

      <p>Enter Ruby on Rails. Ruby is commonly listed as the second most listed language in all
      open source job postings. Ruby on Rails is a web framework specifically designed to help
      you get shit done quickly. What kind of shit?</p>

      <p>Remember CRUD? Well, that kind of shit! But WAIT! There is more!</p>

      <p>JavaScript is a scripting lanaguge built into every browser on the market today.
        Any "rich application" features that are interactive without a page-load, yep that was
        our friend JavaScript.</p>

      <h3>Lots and lots to learn my friends</h3>

      <p>To be an effective developer you need to know a good measure of all of these things to
        be a candidate worth hiring. And that means a candidate who can wrangle all these tools
        and languages into technology solutions for buisinesses.</p>

      <p>Along the way you will learn Stripe to accept payments, how to build real time apps like
        chat, backend management apps, statistics gathering and chart displays, and anything else
        that comes up when you are building a real app over a span of months or more.</p>

    </div>
  </div>

</div>
