<div class="full-bg full-how">
<div class="container">
  <div class="row">
    <div class="col-md-12 above-fold">
      <h1>At Devschool you learn by doing, writing and refactoring code with your expert instructor!</h1>
      <h2><a data-scroll href="#below-the-fold">Scroll down</a> to learn more about how our program works</h2>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>

<div class="container" id="below-the-fold">
  <div class="row">
    <div class="col-md-12 below-fold">
      <h2 class="headline">Build real world applications that solve real problems</h2>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">TOOLSET</h3>
      <%= image_tag asset_path("toolset-icons.png"), class: "img-responsive" %>

      <p class="tailline">Learn expert toolsets and workflows like 
      UNIX and VIM, Git, and ZSH</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">LANGUAGES</h3>
      <%= image_tag asset_path("languages-icons.png"), class: "img-responsive" %>
      <p class="tailline">Learn Ruby, Rails, Javascript, SQL,
      ReactJS, HTML5, CSS, Responsive Design</p>
    </div>

    <div class="col-md-4 col-sm-6 col-centered">
      <h3 class="headline">PROCCESS</h3>
      <%= image_tag asset_path("process-icons.png"), class: "img-responsive" %>
      <p class="tailline">Learn iterative software design and
      development lifecycle planning</p>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row review-card">
    <div class="col-md-offset-1 col-md-4">
      <%= image_tag asset_path("reviewers/eric-douglas.png"), class: "reviewer-photo img-responsive" %>
    </div>
    <div class="col-md-5">
      <blockquote>
        <p>Coming from a business background, I found programming intriguing but sometimes very confusing. My instructor excelled at simplifying concepts into easy to repeat axioms and patterns, and I found the experience at Devschool to be a very personal one. I would definitely recommend Devschool to anyone who wants to become a web developer.</p>
        <footer>Eric Douglas - Ohio, United States</footer>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Meet the tools of your new trade</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("bash-zsh-heading.png"), class: "img-responsive" %>
        </center>
        <p>These are programs known as "shells" and they allow you to interact with a computer via the "Terminal".
        While both provide scripting capability, we at Devschool find ZSH to be more useful and it is the recommended shell here.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("git-heading.png"), class: "img-responsive" %>
        </center>
        <p>We can use Git to secure our files against loss or corruption, for working on experimental
        branches, for tracking changes made by other developers, and merging it all back together for deployment.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("postgres-mongo-heading.png"), class: "img-responsive" %>
        </center>
        <p>When data must be stored (which is basically all the time), a database is needed to store and retrive that data
        At Devschool we primarily focus on tried and true Postgresql and then show you newer formats like Mongo.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("vim-heading.png"), class: "img-responsive" %>
        </center>
        <p>Vim is some super-secret sauce. Not only does it make you look like a wizard while you are creating and editing files (which by 
        the way is 90% of your new life as a web developer!) but it also is built to be a very powerful, efficient tool.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("osx-heading.png"), class: "img-responsive" %>
        </center>
        <p>We LOVE Macs here at Devschool. This is not an accident. Not only are they stunningly beautiful machines for doing computer
        work on, but they are built on UNIX, which is the basis of all those "servers" out there serving up the interwebs.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("linux-heading.png"), class: "img-responsive" %>
        </center>
        <p>We LOVE Linux at the Devschool! Like OSX, it is built on the solid core of the UNIX operating system, providing a robust,
        secure platform to build software like that of the web. If you need a budget machine to attend Devschool, look no further than Linux.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Introducing the languages of the interwebs</h2>
    </div>
  </div>

  <div class="slide">
    <div class="row">
      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("html-heading.png"), class: "img-responsive" %>
        </center>
        <p>HTML is the heart and soul of the web. It is the foundation on which all the other languages and technologies revolve around.
        It is a rich markup language, and with the recent implementation of HTML5, new possibilities of integrating media and the web are better than ever!</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("css-heading.png"), class: "img-responsive" %>
        </center>
        <p>Without CSS the web would be a dull and drab place indeed! Is is these Cascading Style Sheets that provide all of the color, margin, and fonts
        to your favorite websites. It also enables multiple screen sizes and configurations to display custom versions of the content formatted for the display.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("javascript-heading.png"), class: "img-responsive" %>
        </center>
        <p>Javascript is the only language embedded in every browser on the planet. It is the mechanism by which content is changed, loaded, sorted, or otherwise
        animated. It provides a common browser based platform to build truely interactive web applications that act more like a desktop app than a web app.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("bootstrap-heading.png"), class: "img-responsive" %>
        </center>
        <p>Bootstrap is a framework created by Twitter to provide an easy mechanism to render complex content to a web browser no matter
        what the dimension configuration. It provides layout helpers similar to the format of a newspaper and is used the world over to format the display of content.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("react-heading.png"), class: "img-responsive" %>
        </center>
        <p>React comes to us from the minds at Facebook. It is the technology used to create the highly interactive web based components used on the Facebook website.
        It has proven to turn common conventions on their heads and still come out ahead of the pack. We think React is the future of teh web.</p>
      </div>

      <div class="col-md-4">
        <center>
          <%= image_tag asset_path("rails-heading.png"), class: "img-responsive" %>
        </center>
        <p>Ruby on Rails provides an excellent backend framework for websites with a lot of data entry going on. It accels at allowing Developers to quickly pump out
        prototype applications as well as powering huge websites with millions of users. It marries React very nicely and can be used as a json api server.</p>
      </div>
    </div>
  </div>

  <div class="vertical-padding"></div>

</div>
<!-- /.container -->
