<%- content_for(:title) do %>
<%= params[:id].gsub("-", " ").capitalize %>
<%- end %>

<%- content_for(:description) do %>
<%= render(@partial).match(/(\<p\>(.*)\<\/p\>)/)[2] %>
<%- end %>

<%- content_for(:canonical) do %>
https://devschool.rocks/blog/<%= params[:id] %>
<%- end %>


<%- content_for(:below_body) do %>
<%= render 'social_js' %>
<%- end %>

<div class="container article">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article">
        <%= render @partial %>
      </div>
    </div>
  </div>
</div>

<div class="well squeeze">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'mailchimp' %>
      </div>
    </div>
  </div>
</div>

