<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
                          data-toggle="collapse"
                          data-target="#main-menu-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag asset_path("devschool-logo-v4.png"), class: "img-responsive" %>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="main-menu-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'what', what_path %></li>
      <li><%= link_to 'where', where_path %></li>
      <li><%= link_to 'how', how_path %></li>
      <li><%= link_to 'who', who_path %></li>
      <li><%= link_to 'price', price_path %></li>
    </ul>
    <div class="pull-right apply-now">
      <a href="#apply" class="btn btn-apply">apply</a>
    </div>
  </div><!-- /.navbar-collapse -->
</div>
</nav>
