<ul class="nav navbar-nav">
  <li><%= link_to 'what', what_path, class: "default-active" %></li>
  <li><%= link_to 'how', how_path %></li>
  <li><%= link_to 'who', who_path %></li>
  <li><%= link_to 'where', where_path %></li>
  <li><%= link_to 'price', price_path %></li>
</ul>
