<div itemscope itemtype="http://schema.org/Product">
  <div class="people-review-card people-content" itemscope itemtype="http://schema.org/Review">
    <meta itemprop="name" content="Devschool's Online Developer Bootcamp"></meta>
    <meta itemprop="itemReviewed" content="Devschool's Online Developer Bootcamp"></meta>
    <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <span class="hidden" itemprop="ratingValue"><%= rating %></span>
    </span> 

    <div class="people-image center-block">
      <img src="<%= asset_path(person_image_url) %>" class="img-responsive img-circle"/>
    </div>

    <div class="people-job">
      <img src="<%= asset_path(job_image_url) %>" class="img-responsive center-block"/>
    </div>

    <div class="people-quote">
      <%= quote %>
    </div>

    <div class="people-name">
      <%= name %> <%= year %>
    </div>

    <div class="people-place">
      <%= from %>
    </div>

  </div>
</div>
