<div class="large-4 columns">
<div itemscope="" itemtype="http://schema.org/Person" class="quote">
  <meta itemprop="name" content="Devschool's Online Developer Bootcamp"></meta>
  <meta itemprop="itemReviewed" content="Devschool's Online Developer Bootcamp"></meta>
  <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <span class="hidden" itemprop="ratingValue"><%= rating %></span>
  </span> 
  <div class="bubble">
    <p>“<%= quote %>”</p>
    <h3 class="name" itemprop="name">- <%= name %></h3>
    <p itemprop="worksFor" itemscope="" itemtype="http://schema.org/Organization"><b>Hired at:</b>
    <img src="<%= asset_path(job_image_url) %>" class="img-responsive logo"/></p>
  </div>
  <div class="img">
    <img src="<%= asset_path(person_image_url) %>" class="img-responsive img-circle"/>
  </div>
</div>
</div>
