<!DOCTYPE html>
<html lang="en" itemscope
      itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title><%= meta_title %></title>

    <%- if Rails.env.production? %>
    <link rel="canonical" href="<%= content_for(:canonical) %>" />
    <%- end %>

    <meta name="description" CONTENT="<%= meta_description %>">
    <link rel="sitemap" type="application/xml" title="Website xml sitemap" href="/sitemap.xml" />
    <link rel="sitemap" type="application/html" title="Website html sitemap" href="/sitemap" />

    <%= render 'social_cards' %>
    <%= render 'schema_info' %>

    <meta name="msvalidate.01" content="19B335BBC041E9DD33BA05045BC19167" />

    <%= csrf_meta_tags %>
    <%= content_for(:meta) %>
  </head>

  <body>
    <%= render 'social_js' %>

    <%= render 'above_the_fold_css' %>
    <%= render 'header' %>

    <%= yield %>

    <%= render 'share_btns' %>

    <%= render 'footer' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'gtc' %>
    <script type="text/javascript" async defer
  src="https://apis.google.com/js/platform.js?publisherid=100924811766479319060">
    </script>
  </body>
</html>
