<!DOCTYPE html>
<html lang="en" itemscope
      itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="referrer" content="always">
    <link rel="alternate" href="https://devschool.rocks" hreflang="en-us" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <title><%= meta_title %></title>

    <%- if Rails.env.production? %>
    <link rel="canonical" href="<%= content_for(:canonical) %>" />
    <link rel="original-source" href="<%= content_for(:canonical) %>">
    <%- end %>

    <meta name="description" CONTENT="<%= meta_description %>">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">

    <link href="https://plus.google.com/100924811766479319060" rel="publisher" />

    <%= meta_keyword_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="sitemap" type="application/xml" title="Website xml sitemap" href="/sitemap.xml" />
    <link rel="sitemap" type="application/html" title="Website html sitemap" href="/sitemap" />

    <%= render 'social_cards' %>
    <%= render 'schema_info' %>
    <%= render 'facebook_track' %>

    <link rel="icon" type="image/png" 
                href="/favicon.ico">

    <meta name="msvalidate.01" content="19B335BBC041E9DD33BA05045BC19167" />
    <meta name="p:domain_verify" content="67c2a3f76b4fb20e5bbf0825fa29743d"/>

    <%= csrf_meta_tags %>
    <%= content_for(:meta) %>

  </head>

  <body>
    <%= render 'social_js' %>

    <%= render 'header' %>
    <%= yield %>

    <%= content_for(:below_body) %>

    <%= render 'footer' %>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=100924811766479319060"></script>

    <!-- Hotjar Tracking Code for https://devschool.rocks -->
    <script>
(function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:126025,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66453024-3', 'auto');
    ga('send', 'pageview');

    </script>
  </body>
</html>
