<!DOCTYPE html>
<html lang="en" itemscope
      itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title><%= meta_title %></title>

    <%- if Rails.env.production? %>
    <link rel="canonical" href="<%= content_for(:canonical) %>" />
    <%- end %>

    <meta name="description" CONTENT="<%= meta_description %>">

    <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Roboto|FontAwesome' rel='stylesheet' type='text/css'>

    <link rel="sitemap" type="application/xml" title="Website xml sitemap" href="/sitemap.xml" />
    <link rel="sitemap" type="application/html" title="Website html sitemap" href="/sitemap" />

    <%= render 'social_cards' %>
    <%= render 'schema_info' %>

    <link rel="icon" type="image/png" 
                href="/favicon.ico">

    <meta name="msvalidate.01" content="19B335BBC041E9DD33BA05045BC19167" />
    <link async defer rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= content_for(:meta) %>

    <%= render 'above_the_fold_css' %>
<style>
.above-fold  {
  margin: 20vmin auto;
  position: relative;
  color: white;
}

.above-fold  h1,
.above-fold  h2 {
  display: inline;
  font-size: 8vmin;
  line-height: 9vmin;
}

.above-fold  h1 {
  font-weight: bold;
}

.above-fold  h3 {
  margin-top: 10vmin;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
</style>
  </head>

  <body>

    <%= yield %>

    <%= render 'header' %>
    <%= content_for(:below_body) %>
    <%= render 'share_btns' %>

    <%= render 'footer' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', async: true, defer: true  %>
    <script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=100924811766479319060">
  </body>
</html>
