<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title><%= meta_title %></title>
    <meta name="description" CONTENT="<%= meta_description %>">
    <link rel="sitemap" type="application/xml" title="Website sitemap" href="/sitemap.xml" />

    <%= render 'social_cards' %>
    <%= render 'schema_info' %>

    <meta name="msvalidate.01" content="7AF7866E003FF74CC07851058EE6D9A6" />


    <%= csrf_meta_tags %>
    <%= content_for(:meta) %>
  </head>

  <body>

    <%= render 'above_the_fold_css' %>
    <%= render 'header' %>

    <%= yield %>

    <%= render 'share_btns' %>

    <%= render 'footer' %>
    <%= stylesheet_link_tag 'application', media: 'all', async: true %>
    <%= javascript_include_tag 'application' %>
    <%= render 'gtc' %>
    <script type="text/javascript" async defer
  src="https://apis.google.com/js/platform.js?publisherid=100924811766479319060">
    </script>
  </body>
</html>
